$layout_color: black;
$animation_color: black;

.main_btn, .back_to_home, .copyright_footer, .newsletter_btn, .flex-control-paging li a.flex-active, .store_nav a.active_store_nav:after, .store_nav a:hover:after, .store_initial, .details_header, .back_to_list, .back_to_list:hover, .back_to_list:focus, .mobile_menu_dd, #mm_page_content h2{
    background: $layout_color;
}

.newsletter_control:focus{
    border-color: $layout_color;
}

.view_more_btn, .colored_link, .colored_link a, #mm_page_content h1, .mobile_menu li a{
    color: $layout_color;
}

.animated_btn:before{
    background: $animation_color;
}

.top_menu a {
  
    padding: 0 14px;
   
}
// .open #dropdownMenuLeasing {
//     background: #000;
//     color: #fff;
//     z-index: 10001;
//     position: absolute;
//     right: 44px;
//     max-width: 86px;
//     padding-right: 15px;
// }
.leasing_dd {
    left: inherit;
    right: 3px;
    top: -20px;
    width: 86px;
    background: #000;
    border-radius: 0;
    padding-top: 50px;
}
.feature_row .feature_col {
    text-align: center;
}
.feature_row .feature_col a:hover {
    text-decoration: none;
}
.feature_row .feature_col img {
    // border-radius: 50%;
    // max-width: 160px;
}
.feature_row .feature_col .feature_title {
    margin-top: 20px;
    font-family: Georgia;
    font-style: italic;
    font-size: 22px;
    color: #4B4B4B;
    line-height: 30px;
}
.stores_banner{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/59dcfca06e6f644804150000/image/jpeg/1509128013000/InsidePgBanner-1920x150.jpg);
}

.events_banner{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/59dcfca06e6f644804150000/image/jpeg/1509128013000/InsidePgBanner-1920x150.jpg);
}

.dine_banner{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/59dcfca06e6f644804150000/image/jpeg/1509128013000/InsidePgBanner-1920x150.jpg);
}

.jobs_banner{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/59dcfca06e6f644804150000/image/jpeg/1509128013000/InsidePgBanner-1920x150.jpg);
}

.location_banner{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/59dcfca06e6f644804150000/image/jpeg/1509128013000/InsidePgBanner-1920x150.jpg);
}

.longbeach-services{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/57f503036e6f6454f2010000/image/jpeg/undefined/lbtc_1920x150_banner_contact.jpg);
}

.eglinton-contact-us{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/59dcfca06e6f644804150000/image/jpeg/1509128013000/InsidePgBanner-1920x150.jpg);
}

.eglinton-privacy-policy{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/59dcfca06e6f644804150000/image/jpeg/1509128013000/InsidePgBanner-1920x150.jpg);
}

.eglinton-about-us{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/59dcfca06e6f644804150000/image/jpeg/1509128013000/InsidePgBanner-1920x150.jpg);
}

.eglinton-leasing--2{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/59dcfca06e6f644804150000/image/jpeg/1509128013000/InsidePgBanner-1920x150.jpg);
}

.hours_banner{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/59dcfca06e6f644804150000/image/jpeg/1509128013000/InsidePgBanner-1920x150.jpg);
}
#stores_container {
    max-height: 351px;
}
.regular_hours .day, .regular_hours .time,
.holiday_hours .day, .holiday_hours .time {
    display: inline-block;
    font-family: Avenir-Book;
    font-size: 18px;
    color: #4B4B4B;
    line-height: 30px;
}
.regular_hours .day, .holiday_hours .day {
    width: 30%;
}
.portfolio_item img {
    margin-bottom: 20px;
    max-width: 100%;
}
#contact_form label {
    font-family: Avenir-Book;
    font-size: 18px;
    font-weight: normal;
    color: #4B4B4B;
    line-height: normal;
}
.main_btn {
    padding: 7.5px 12px;
    min-width: 100px;
    border: none;
    border-radius: 0;
}